---
import Layout from '@/layouts/Layout.astro';
import PrendaModal from '@/components/admin/PrendaModal.astro';
---
<Layout title="Admin — Panel">
  <h1>Panel de administración</h1>
  <PrendaModal />
</Layout>
